.information-section {
  padding: 2rem 0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .information-content {
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    gap: 3rem;

    .map {
      border-radius: 0.6rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    iframe {
      border-radius: 0.6rem;
    }

    @media (width <= 768px) {
      flex-direction: column;

      iframe {
        width: 100%;
      }

      .contact-info {
        margin-top: 1rem;

        img {
          width: 2rem;
        }
      }
    }

    iframe {
      height: 20rem;
      z-index: 1;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;
      flex: 1;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: -1;
        width: 30rem;
        opacity: 0.1;

        @media (width <= 768px) {
          width: 100%;
        }
      }

      .flex {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
      }

      .info {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
        z-index: 1;

        svg {
          color: var(--primary);
        }

        .text {
          span {
            font-weight: bold;
            color: var(--primary);
          }

          p {
            font-size: 1rem;
            color: var(--black);
            white-space: normal;
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-word;
            hyphens: auto;
          }
        }
      }
    }
  }
}
