.navbar {
  color: var(--white);
  height: 10dvh;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.1s ease, color 0.1s ease;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    min-width: 9rem;
  }

  img {
    width: 3.2rem;
  }

  ul {
    display: flex;
    gap: 3rem;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: currentColor;
      font-size: 1rem;
      transition: color 0.1s ease-in-out;

      &:hover {
        color: var(--primary-light);
      }
    }

    @media (width < 800px) {
      display: none;
    }
  }

  .right {
    display: flex;
    gap: 1rem;
  }
}

.scrolled {
  background-color: var(--white);
  color: var(--black);
}
