@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #fbfbfb;
  --black: #0a0a0a;
  --gray: #ecedf2;
  --gray-text: #6f6f6f;
  --gray-text-light: #bdbec1;
  --error: #ff0000;

  --primary: #254D32;
  --primary-light: #4d8b6c;
  --primary-dark: #254d32;
  --primary-extra-light: #e5f0ee;

  --secondary: #d79a10;
  --secondary-light: #f7c94d;
  --secondary-dark: #b27b0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}
